* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: Helvetica, sans-serif;
  margin-left: 1em;
  user-select: none;
}

h1 {
  margin: 0.5em 0;
}

.area {
  margin-top: 1em;
  background: linear-gradient(
    90deg,
    rgba(255, 211, 0, 1) 33%,
    rgba(255, 147, 64, 1) 100%
  );
}

footer {
  position: absolute;
  bottom: 1em;
  left: 1em;
}

a,
a:visited {
  color: black;
  font-weight: 600;
}
